body {
  font-family: Kanit;
  margin: 5px;
  width: 99.25vw;
  height: 98.5vh;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Kanit;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 172, 158);
    border-radius: 15px;

    .header {
      font-weight: 700;
      font-size: 60px;
      color: white;
      margin: 5% 0 5% 0;
    }

    .responses {
      font-weight: 500;
      font-size: 26px;
      color: white;
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2% 20% 2% 20%;
      padding: 2% 15% 2% 15%;
      align-items: center;
      border: 3px solid lightgray;
      border-radius: 15px;

      p {
        font-weight: 300;
        font-size: 36px;
        color: white;
      }

      #enterAmt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 22px;
        color: white;
      }

      input {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4%;
        width: 50%;
        height: 45px;
        font-weight: 200;
        font-size: 26px;
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        background-color: lightsalmon;

        &::placeholder {
          color: white;
        }
      }

      .buttons-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        width: 100%;
        height: 45px;
        font-weight: 200;
        font-size: 26px;
        color: white;
        border: 2px solid white;
        border-radius: 15px;
        background-color: lightsalmon;
      }
    }
  }
}
